<div>
<p>{{model.quester}}
{{model.quest}}
{{model.notes}}</p>
{{update-question question=model update="update"}}

</div>

<ul>
{{#each model.answers as |answer|}}
<li>{{answer.responder}}</li>
{{/each}}
</ul>

{{new-answer question=model saveAnswer="saveAnswer"}}
